.appointments-list-container{
	padding: 20px;
}

.appointment {
	max-width: 700px;
	background-color: rgba(205, 214, 224, 0.52);
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 18px;
	padding: 10px;
}

.appointment-client{

}

.appointment-date {
	text-align: right;
}

.row {
	margin: 0px;
}