<h2 style="margin-left:20px;">Upcoming Appointments</h2>
<div style="margin-top:20px; margin-left: 20px;"> <a ng-href="#/appointment/create"><i class="fa fa-plus fa-3x"></i> Create Appointment</a></div>
<!-- <button class="btn btn-primary"ng-click="addApp()">Add Appointment</button>
<button class="btn btn-primary"ng-click="addUser()">Add User</button> -->
<div class="appointments-list-container">
	<div ng-repeat="app in apps | filter:myUpcomingAppointments | orderBy: '-startdate' " class="appointment" ng-click="goToAppointment(app)">
		<div class="appointment-profile-pic" ng-style="{'background-image': 'url(' + app.imageurl + ')'}">
		</div>
		<div class="appointment-content">
			<div class="row">
				<span class="appointment-client col-xs-6">{{ getFullName(app.client) || app.client }}</span>
				<span class="appointment-date col-xs-6">{{app.startdate | countdown}}</span>
			</div>
			<div class="row">
				<span class="col-xs-12 appointment-details">{{app.description}}</span>
			</div>
			<div class="row">
				<span class="col-xs-12 appointment-users">
					<span ng-if="app.therapist">Therapist:  {{ getFullName(app.therapist) || app.therapist }}  </span> &nbsp;&nbsp;
					<span ng-if="app.interpreter">Interpreter: {{ getFullName(app.interpreter) || app.interpreter  }}</span>
				</span>
			</div>
		</div>
	</div>
</div>
