<div class="create-apptmt-container">
	<h3>Create A New Appointment</h3>
	<form>
	  <div class="form-group">
	    <input name="client" id="client" type="text" placeholder="enter a user" ng-model="selected" typeahead="user for user in test | filter:$viewValue | limitTo:8" class="form-control">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

