<div class="flex-container y-full">
  <div class="video-container">
  	<div class="record-btn" ng-click="startArchive()">
  		<span class="glyphicon glyphicon-record record-btn-icon" aria-hidden="true"></span>
  	</div>
  	<div class="mainCamDiv-container">
  		<div id="mainCamDiv"></div>
  	</div>
  	<div class="myCamDiv-container">
  		<div id="myCamDiv"></div>
  	</div>
  	<div class="theirCamDiv-container">
  		<div id="theirCamDiv"></div>
  	</div>
  </div>
  <div class="utility-sidebar">
    <div class="utility-sidebar__wrapper">
<!--       <ul class="nav sidebar-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="chat" role="tab" data-toggle="tab">
          <i class="fa fa-comment"></i></a>
        </li>
        <li role="presentation"><a href="#messages" aria-controls="notes" role="tab" data-toggle="tab">
          <i class="fa fa-file-text-o"></i></a>
        </li>
        <li role="presentation"><a href="#settings" aria-controls="activeusers" role="tab" data-toggle="tab">
          <i class="fa fa-users"></i></a>
        </li>
      </ul> -->

      <!-- Tab panes -->
      <!-- <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="chat">
        </div>
        <div role="tabpanel" class="tab-pane" id="notes">...</div>
        <div role="tabpanel" class="tab-pane" id="activeusers">...</div>
      </div> -->

      <uib-tabset active="active" vertical="false" class="flex-height">
        <uib-tab index="0" active="tab.active">
          <uib-tab-heading>
            <i class="fa fa-comment"></i>
          </uib-tab-heading>
          <session-messages session="session"></session-messages>
        </uib-tab>
        <uib-tab index="1">
          <uib-tab-heading>
            <i class="fa fa-file-text-o"></i>
          </uib-tab-heading>
          <session-notes session="session"></session-notes>
        </uib-tab>
        <uib-tab index="2">
          <uib-tab-heading>
            <i class="fa fa-users"></i>
          </uib-tab-heading>
          <session-users session="session"></session-users>
        </uib-tab>
      </uib-tab>
    </uib-tabset>

    </div>
  </div>
</div>
